@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Tilt+Neon&display=swap');



:root{
    --bg-dark-primary:#0B2447;
    --bg-dark-secondary:#19376D;
    
    --color-dark-primary: #A5D7E8;
    --color-dark-secondary: #576CBC;
    
    --color-neutral: #6e7887;

    --ff-title: 'Lobster', cursive;
    --ff-primary: 'Poppins', sans-serif;


    --shadow-color:black;
    --shadow:-2px 2px 1px var(--shadow-color);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--bg-dark-secondary);
}

/****************************Navbar**********************/

#nav_bar_container{
    background-color: var(--bg-dark-primary);
    color: var(--color-dark-secondary);
    font-family: var(--ff-primary);
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.40rem;
    gap: 1rem;
}

.nav_bar_item{
    flex:1;
    flex-grow: 1;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*******Navbar Logo*******************/


#nav_logo img{
    width: 1.3rem!important;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--shadow);

}
#nav_logo span{
    font-family: var(--font-dirt);
    margin-left: 0.1rem;
    font-size: 1.3rem;
    text-shadow: var(--shadow);
}
#nav_logo span span{
    color: var(--color-dark-primary);
}

/********************Navbar Search Section*****************/
#search_section{
    max-width: 100%;
}

#search_section #search_button{
    height: 1.8rem;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 0.2rem;
    padding-right: 0.4rem;

    background: var(--bg-dark-secondary);
    color: var(--color-dark-primary);
    text-shadow: var(--shadow);
}

#search_section input{
    height: 1.8rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    background: var(--bg-dark-secondary);
    border: none;
    outline: none;
    border-radius: 3px 0px 0px 3px;
    color: var(--color-dark-primary);
}

#search_section input:focus{
    box-shadow: var(--shadow);
    text-shadow: var(--shadow);
}

#search_section input::placeholder{
    color: var(--color-neutral);
    text-shadow: var(--shadow);
}
/*******************Nav Bar**********************/

/******************* Home **********************/
#home_container{
    margin-top: 0.1rem;
}


/***********************Manga Grid*******************/

#manga_grid_container{
    background-color: var(--bg-dark-primary);
    padding-bottom: 1rem;
}

#manga_grid_container #header,
#genre_container #genre_header,
#list_container #list_header{
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem 0rem;

    color: var(--color-dark-secondary);
    text-shadow: var(--shadow);
    align-items: center;
    box-shadow: 0px 2px 3px black;
}

#manga_grid_container #header h2 span,
#genre_container #genre_header h2 span,
#list_container #list_header h2 span {
    color: var(--color-dark-primary);
}

#manga_grid_container #header #trending_logo,
#list_container #list_header_logo{
    width: fit-content;
    cursor: pointer;
    margin-left: 0.5rem;
    transition:.5s ease all;

}

#manga_grid{
    padding: 0.6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(9rem,1fr));
    gap: 1rem 0.3rem;
    
}
#manga_grid .manga_grid_item{
    color: var(--color-dark-secondary);
    text-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
    transition: all 750ms ease-in-out;
}
#manga_grid .manga_grid_item img{
    width: 100%;
    height: 12rem;
    max-width: 9rem!important;
    box-shadow: var(--shadow);
    transition: box-shadow 750ms ease-in-out;
}
#manga_grid .manga_grid_item:hover,
#list_flex_box .list_flex_item:hover
{
    color: var(--color-dark-primary);
    cursor: pointer;
    background-color: var(--bg-dark-secondary);
}
#manga_grid .manga_grid_item:hover img,
#list_flex_box .list_flex_item:hover img
{
    box-shadow: -2px 2px 2px var(--color-dark-secondary),
                2px -2px 2px var(--color-dark-secondary),
                -2px -2px 2px var(--color-dark-secondary),
                2px 2px 2px var(--color-dark-secondary);
}

/**********************Genre*****************************/



#genre_container{
    margin-top: 0.1rem;
    padding-bottom: 1rem;
    
    background-color: var(--bg-dark-primary);
}

/*genre header with manga grid header*/
#genre_container #genre_header #genre_dahboard{
    margin-left:0.5rem;
}

#genre_container #genre_flex_box{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
}
#genre_container #genre_flex_box .genre_item{

    background-color: var(--bg-dark-secondary);
    color:var(--color-dark-secondary);
    padding: 0.4rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 0.6rem;
    border-radius: 20px 20px;
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    transition: all 500ms ease;
}

#genre_container #genre_flex_box .genre_item:hover{
    box-shadow: none;
    cursor: pointer;
    transform: scale(1.03) translateY(-7%);
    color: var(--color-dark-primary);
    background: var(--color-dark-secondary);


}
.genre_item span{
    text-transform: capitalize;
}


/*****************************Footer********************/
#footer_container{
    background-color: var(--bg-dark-primary);
    margin-top: 0.1rem;
    padding: 1rem 0.5rem;
    text-align: center;
}

#footer_links{
    text-transform: uppercase;
    text-shadow: var(--shadow);
    
}

#footer_links small{
    color: var(--bg-dark-secondary);
}

#footer_links a{
    text-decoration: none;
    color: var(--color-dark-secondary);
}

/************************List**********************/

#list_container{
    background-color: var(--bg-dark-primary);
    margin-top: 0.1rem;
    text-transform: capitalize;
}

#list_flex_box{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
}

#list_flex_box .list_flex_item{
    display: flex;
    gap:1rem;
    border-top: 2px solid var(--color-dark-secondary);
    color: var(--color-dark-secondary);
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: var(--shadow);
    transition: color 750ms ease;
}
#list_flex_box .list_flex_item img{
    width: 5rem!important;
    height: auto!important;
    object-fit: cover;
    width: 100%;
    transition: all 750ms ease;
}

#list_flex_box .list_flex_item:hover{
    background-color: var(--bg-dark-secondary);
}

#list_flex_box .list_item_count{
    font-size:2em ;
    border-right: 2px solid var(--bg-dark-secondary);
    padding-right: 1rem;
    color: var(--color-dark-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}






/**************************Scroller**********************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      background-color: var(--bg-dark-secondary);
    }
    ::-webkit-scrollbar-thumb {
      background-color: var(--color-dark-secondary);
      border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--color-dark-secondary);
    }
  }
  